<div class="container">
    <form class="px-8 py-1" [formGroup]="form" (ngSubmit)="updateProfissional()">
        <div class="p-fluid" formGroupname="form">
            <h3>Nome</h3>
            <input type="text" id="nome" formControlName="nome" pInputText required />
        </div>
        <h3>Cargo</h3>
        <div class="p-grid p-fluid">
            <div class="my-2 p-inputgroup">
                <label for="bairro" class="p-inputgroup-addon">Cargo</label>
                <input type="text" formControlName="cargo" id="cargo" pInputText required>
            </div>
        </div>

        <h3>Endereço</h3>
        <div class="p-grid p-fluid">
            <div class="my-2 p-inputgroup">
                <label for="bairro" class="p-inputgroup-addon">Estado</label>
                <input type="text" formControlName="estado" id="estado" pInputText required>
            </div>
            <div class="my-2 p-inputgroup">
                <label for="cidade" class="p-inputgroup-addon">Cidade</label>
                <input type="text" formControlName="cidade" id="cidade" pInputText required>
            </div>
            <div class="my-2 p-inputgroup">
                <label for="bairro" class="p-inputgroup-addon">Bairro</label>
                <input type="text" formControlName="bairro" id="bairro" pInputText required>
            </div>
            <div class="my-2 p-inputgroup">
                <label for="bairro" class="p-inputgroup-addon">Rua</label>
                <input type="text" formControlName="rua" id="rua" pInputText required>
            </div>
            <div class="my-2 p-inputgroup">
                <label for="bairro" class="p-inputgroup-addon">Numero</label>
                <input type="text" formControlName="numero" id="numero" pInputText required>
            </div>
        </div>
        <br>
        <div class="mx-8 mt-4 p-fluid">
            <button pButton pRipple type="submit" label="Atualizar Hospital" class="p-button-success"
                [disabled]="!form.valid"></button>
        </div>
        <br>
        <div class="mx-8 mt-4 p-fluid">
            <button pButton pRipple type="button" (click)="backToScreenListProfissional()" label="Voltar"
                class="p-button-info"></button>
        </div>
    </form>
</div>